/* Description:
Name(s): Kyle Hollett Brian Janes Brad Avery
Date Created: 2024-06-17
Date finished: 2024-06-21? */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bannertop {
  position: static;
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  opacity: 0.9;
  background: #057ada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.bannermascot img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #6f7dfb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.garybannertext {
  color: #e8f7fb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 20rem;
}

.bannerbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 10rem;
}

.bannerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.625rem;
  height: 3rem;
  opacity: 0.95;
  border-radius: 1.5rem;
  background: #da722c;
}

.bannerbuttontext {
  color: #e8f7fb;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 700;
}

.bannerbottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  flex-shrink: 0;
  opacity: 0.91;
  background: #023047;
}

.bannerbottombutton {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 24rem;
  height: 2.7rem;
  padding-top: 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.5rem;
  background: #da722c;
}
.bannerbottombutton:hover {
  background-color: #a34a0f;
}
.bannerbutton:hover {
  background-color: #a34a0f;
}
.container {
  width: 100%;
  height: 50.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f9f9f9;
  position: relative;
}

#prev {
  position: absolute;

  color: white;
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  left: 30px;
}
#next {
  position: absolute;
  color: white;
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  right: 30px;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dots {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 5rem;
  margin-right: 1rem;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.6s ease;
}

.active {
  background-color: purple;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.foodImage {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.foodImage img {
  width: 100%;
  height: 100%;
  border-radius: 23px;
}

svg {
  width: 100%;
}

.biocontainer {  
    display: flex;
    justify-content: center;
    align-content: center;
  max-width: 100dvw;
  width: 100%;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-top: 3rem;
}

.biocontainer2 {
  width: 100%;
  height: 41.0625rem;
  border-radius: 5.375rem;
  background: #023047;
  padding-top: 1.75rem;
}

#bio {
  padding: 3rem;
  text-align: left;
  color: #f9f9f9;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {

  color: #da722c;
  text-align: center;
  font-family: "Raleway";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 1rem;
  opacity: 0.9;
}

#gblue {
  color: #057ada;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 1rem;
  opacity: 0.9;
}

.reviewPics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 31.75rem;
  height: 12.4375rem;
  flex-shrink: 0;
}
.slider-container {
  display: flex;
  align-items: center;
  flex-direction: column; /* This ensures the satisfaction rating is above the images */
}

.slider-container .fa-caret-left,
.slider-container .fa-caret-right {
  display: flex;
  color: #000;
  background-color: #da722c;
  cursor: pointer;
  user-select: none;
}

#prevReview1,
#nextReview1 {
  display: flex;
  color: white;
  cursor: pointer;
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 50%;
}

#prevReview1:hover,
#nextReview1:hover {
  background-color: #a34a0f;
}
.deliverMenuContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 37.625rem;
    height: 35.3125rem;
    flex-shrink: 0;
    border-radius: 5.375rem;
    background: #023047;
}
.delMenuText{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}
.delMenuButton1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 20rem;
  height: 3rem;
  opacity: 0.95;
  border-radius: 1.5rem;
  background: #da722c;
}

.delMenuButtonText {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.delMenuButton1 a {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.delMenuButton1:hover {
  background: #f4a261;
}

.satisfactionRating {
  display: flex;
  text-align: center;
  align-items: center;
  width: 26.6875rem;
  height: 7.1875rem;
  flex-shrink: 0;
  border-radius: 1.4375rem;
  background: rgba(5, 122, 218, 0.8);
}
.bottomContentLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottomContentRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.garybannertext a {
  color: #e8f7fb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.garybannertext a:hover {
  color: #6f7dfb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  text-decoration: wavy;
}

.newcontainer {
    display:flex;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 67px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #555;
    background-color: #023047;
}

.newcontainer p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

.newcontainer ul {
    list-style-type: none;
    padding: 0;
}

.newcontainer li {
    background-color:#023047;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1em;
    color:#e8f7fb;
    font-family: 'Poppins';
}

#address {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;

}

#contact {
    text-align: center;
    color: #555;
    font-family: 'Poppins';
    font-weight: bold;
    padding: 10px;
}
.address #address,
.address #contact {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:#e8f7fb;
    font-family: 'Poppins';
    padding: 10px;
}

.hours ul {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.hours li {
    font-weight: normal;
}

.details ul {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.details li {
    font-weight: normal;
}

.location {
    display: flex;
    justify-content: center;
    
}

.location img {
    border-radius: 23px;
    height: 253px; 
    width: 364px;
    transition: transform 0.3s; /* Add a transition for a smooth effect */
}

.location img:hover {
    transform: scale(1.7); /* Enlarge the image on hover */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        /* Reset box-sizing and adjust default font size for mobile */
        box-sizing: border-box;
        font-size: 14px;
      }
    
      .bannertop {
        height: 40px;
        padding: 0 0.25rem;
      }
    
      .bannermascot img {
        width: 3rem;
        height: 3rem;
      }
  
      .garybannertext a {
        color: #e8f7fb;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        font-weight: 700;
      }
    
      .garybannertext {
          font-size: 0.8rem;
      }
      .bannerbuttons {
        margin-right: 2.5rem;
      }
    
      .bannerbutton {
        width: 6.625rem;
        height: 2rem;
      }
    
      .bannerbuttontext {
        font-size: 0.875rem;
      }
      .bannerbottom {
        height: 3rem;
      }
    
      .bannerbottombutton {
        width: 15rem;
        height: 2rem;
        padding-bottom: 1.8rem;
      }
    
      .container {
          display: flex;
          align-items: center;
          flex-direction:  column;
          justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 8px;
        padding: 8px;
      }
      
    
      #prev, #next {
        font-size: 0.75rem;
        padding: 8px;
      }
      .dot {
          height: 6px;
          width: 6px;
      }
    
      .dots {
        bottom: 2rem;
        
      }
    
      .foodImage img {
        border-radius: 16px;
      }
    
      .biocontainer {
        margin-top: 1.5rem;
      }
    
      .biocontainer2 {
        width: 95%;
        height: auto;
        border-radius: 2.5rem;
        padding: 1rem;
      }
    
      #bio {
        padding: 1.5rem;
        font-size: 1rem;
      }
    
      h2 {
        font-size: 1.5rem;
        padding-top: 0.5rem;
      }
    
      .reviewPics {
        width: 20rem;
        height: auto;
        padding: 0.5rem;
      }
    
      .delMenuText {
        font-size: 1.125rem;
      }
    
      .delMenuButton1 {
          display:flex;
          align-content: center;
          justify-content: center;
        width: 16rem;
        height: 2rem;
      }
    
      .delMenuButtonText, .delMenuButton1 a {
        font-size: 0.875rem;
      }
      .bottomContentLeft {
          display: flex;
          flex-direction:  column;
          width: 45%;
  
      }
      .satisfactionRating {
        width:20rem;
        height: auto;
      }
    
      .newcontainer {
          display: flex;
          align-items: center;
          flex-direction: column;
        padding: 10px;
        border-radius: 2.1875rem;
        margin-bottom: 1rem;
  
      }
    
      .newcontainer p, .newcontainer li, #contact {
        font-size: 0.875rem;
      }
    
      .location img {
        height: 160px;
        width: 230px;
      }
      .deliverMenuContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
          height: 20rem;
          flex-shrink: 0;
          background: #023047;
          width:24rem;
      }
      .address {
          display: flex;
          align-items: center;
          flex-direction: column;
      }
      li {
          width:24rem;
      }
    }
    
@media screen and (max-width: 767px) {
    * {
      /* Reset box-sizing and adjust default font size for mobile */
      box-sizing: border-box;
      font-size: 14px;
    }
  
    .bannertop {
      height: 40px;
      padding: 0 0.25rem;
    }
  
    .bannermascot img {
      width: 3rem;
      height: 3rem;
    }

    .garybannertext {
      font-size: 1.5rem;
      margin-right: .3rem;
      padding: 0.1rem;
    }
    
    .garybannertext a {
        color: #e8f7fb;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }
    .garybannertext {
        font-size: 0.8rem;
    }
    .bannerbuttons {
      margin-right: 2.5rem;
    }
  
    .bannerbutton {
      width: 6.625rem;
      height: 2rem;
    }
  
    .bannerbuttontext {
      font-size: 0.875rem;
    }
    .bannerbottom {
      height: 3rem;
    }
  
    .bannerbottombutton {
      width: 15rem;
      height: 2rem;
      padding-bottom: 1.8rem;
    }
  
    .container {
        display: flex;
        align-items: center;
        flex-direction:  column;
        justify-content: center;
      width: 100%;
      height: auto;
      margin-top: 8px;
      padding: 8px;
    }
    
  
    #prev, #next {
      font-size: 0.75rem;
      padding: 8px;
    }
    .dot {
        height: 6px;
        width: 6px;
    }
  
    .dots {
      bottom: 2rem;
      
    }
  
    .foodImage img {
      border-radius: 16px;
    }
  
    .biocontainer {
      margin-top: 1.5rem;
    }
  
    .biocontainer2 {
      width: 95%;
      height: auto;
      border-radius: 2.5rem;
      padding: 1rem;
    }
  
    #bio {
      padding: 1.5rem;
      font-size: 1rem;
    }
  
    h2 {
      font-size: 1.5rem;
      padding-top: 0.5rem;
    }
  
    .reviewPics {
      width: 20rem;
      height: auto;
      padding: 0.5rem;
    }
  
    .delMenuText {
      font-size: 1.125rem;
    }
  
    .delMenuButton1 {
        display:flex;
        align-content: center;
        justify-content: center;
      width: 16rem;
      height: 2rem;
    }
  
    .delMenuButtonText, .delMenuButton1 a {
      font-size: 0.875rem;
    }
    .bottomContentLeft {
        display: flex;
        flex-direction:  column;
        width: 45%;

    }
    .satisfactionRating {
      width:20rem;
      height: auto;
    }
  
    .newcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
      padding: 10px;
      border-radius: 2.1875rem;
      margin-bottom: 1rem;

    }
  
    .newcontainer p, .newcontainer li, #contact {
      font-size: 0.875rem;
    }
  
    .location img {
      height: 160px;
      width: 230px;
    }
    .deliverMenuContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20rem;
        flex-shrink: 0;
        background: #023047;
        width:24rem;
    }
    .address {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    li {
        width:24rem;
    }
  }
/*   
  @media screen and (min-width: 1025px) and (max-width: 1370px) { maybe

  } */