.menu-page-div {
  font-family: poppins;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-div {
  width: 100%;
  height: 100%;
}
.menu-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.menu-section-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  grid-column: 1 / -1;
}

.menu-section-info span {
  font-style: italic;
}

.menu-section-info h2 {
  width: 80%;
  border-bottom: 2px solid #da722c;
  margin-bottom: 8px;
}

.menu-card {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 4px 4px 5px 1px rgba(69, 69, 69, 1);
  border-radius: 4px;
  transition: transform 0.2s ease;
  padding: 8px;
  list-style-type: none;
}

.addon-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 16px;
}

.addon-card li {
  font-weight: bold;
  text-align: center;
}

.menu-card:hover {
  transform: scale(1.1);
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.name-and-price h4 {
  font-size: 1.2rem;
}

.name-and-price span {
  font-size: 1rem;
}

.image_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-card p {
  padding: 16px;
  line-height: 1.5;
}

.menu-card-img {
  max-width: 125px;
  max-height: 125px;
  margin: 8px;
  border-radius: 4px;
}

/* MEDIA QUERIES */

/* Tablet View */
@media (max-width: 768px) {
  .menu-page-div {
    padding: 8px;
    width: 100%;
  }
  .menu-card {
    width: 100%;
    margin: 8px;
  }
  .menu-card:hover {
    transform: scale(1.05);
  }
}

/* Smartphone View */
@media (max-width: 480px) {
  .menu-page-div {
    padding: 0;
    width: 100%;
  }

  .menu-card {
    width: 100%;
    margin: 8px;
  }
  .menu-card-img {
    height: 100px;
    width: 100px;
  }
  .name-and-price {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .menu-card:hover {
    transform: scale(1.05);
  }
}
