#columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#column1, #column2 {
    width: 49%;
    display: flex;
    flex-direction: column;
    border: #6F7DFB 1px solid;
    padding: 10px;
}

#column2 {
  background-color: #E8F7FB;
  display: flex;
  flex-direction: column;
}

#column1 {
  position: relative;
}

#column1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../Images/OrderPics/pattern.png);
  opacity: 0.7;
  z-index: 0;
}
  
#name, #phone, #email, #address, #card, #cardvalid {
    flex: 1;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
  }

#cardvalid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E8F7FB;
}
  
.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;
    z-index: 99;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-items .autocomplete-active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    
    position: absolute;
    right: 5px;
    top: 0;
  
    height: 100%;
    display: none;
    align-items: center;
  }
  
  .clear-button.visible {
    display: flex;
  }
  
  .clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  #feedMe {
    align-self: center;
    margin-top: 10%;
    background-color: #6F7DFB;
    color: #E8F7FB;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    font-size:large;
    min-width: 88px;
  }

#orderinnerhtml {
    height: 250px;
    overflow-y: scroll;
    background-color: #fff;
    margin-bottom: 12px;
    text-align: right;
    word-spacing: fill;
    border: #6F7DFB 1px solid;
}

#orderinnerhtml p {
    width: 100%;
    margin: 10px 0;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding-right: 30px;
}

.clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.clear-button.visible {
    display: flex;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

#ordertext {
  z-index: 1;
}

#cvv {
  width: 30%;
  margin-left: 15%;
}

#more {
  width: 30%;
  margin-left: 70%;
}

#pment {
  background-color: #E8F7FB;
  padding: 5px;
  width: 100%;
}

#orderContainer {
    display: none;
    background-color: #E8F7FB;
    color: #DA722C;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 500px;
    border-radius: 25px;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-top: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    border: 80px solid transparent;
    border-image: url(../Images/OrderPics/pattern.png) 100 round;
}

#orderContainer button {
    background-color: #DA722C;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #6F7DFB;
    padding: 5px;
    text-align: center;
    width: 300px;
    height: 80px;
    color: #E8F7FB;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#orderContainer button:hover {
    background-color: #E8F7FB;
    color: #6F7DFB;
    border: 3px solid #DA722C;
    transition: 0.5s;
}

#message {
    text-align: center;
    padding: 10px 30px;
    font-size: 30px;
}

.bannertop {
  position: static;
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  opacity: 0.9;
  background: #057ada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.bannermascot img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #6f7dfb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.garybannertext {
  color: #e8f7fb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 20rem;
}

.bannerbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 10rem;
}

.bannerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.625rem;
  height: 3rem;
  opacity: 0.95;
  border-radius: 1.5rem;
  background: #da722c;
}

.bannerbuttontext {
  color: #e8f7fb;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 700;
}

.bannerbottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  flex-shrink: 0;
  opacity: 0.91;
  background: #023047;
}

.bannerbottombutton {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 24rem;
  height: 2.7rem;
  padding-top: 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.5rem;
  background: #da722c;
}
.bannerbottombutton:hover {
  background-color: #a34a0f;
}
.bannerbutton:hover {
  background-color: #a34a0f;
}
.garybannertext a {
  color: #e8f7fb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* MEDIA QUERIES */

/* Tablet View */
@media (max-width: 768px) {
  #feedMe {
    font-size: medium;
  }
}

/* Smartphone View */
@media (max-width: 480px) {
  #columns {
    flex-direction: column;
    font-size: small;
  }
}
