* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #f9f9f9;
  max-width: 100dvw;
  width: calc(100% - 18rem);
  margin: 16px;
  margin-inline: auto;
  height: 100dvh;
  padding: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #023047;
  color: #E8F7FB;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#footerlogo {
  width: 60px;
  margin: 5px;
}

#socials {
  margin-right: 10px;
  width: 33%;
  display: flex;
  justify-content: space-around;
}

#socials img:hover {
  transform: scale(1.3)
}

footer p {
  margin: 8px;
}
